@import "./reset.scss";

$base-color: #191919;
$wrapper-color: #3b3b3b;
$white: #fff;
$gray: #ffffffbb;
$accent-color: #cf5fd4;

body {
	font-family: "Source Code Pro", monospace !important;

	// background-color: $base-color;
	background-image: url("https://openaicom.imgix.net/8d14e8f0-e267-4b8b-a9f2-a79120808f5a/chatgpt.jpg?auto=compress%2Cformat&fit=min&fm=jpg&q=80&rect=0%2C0%2C2048%2C2048&w=1400");
	background-size: contain;
	color: $white;
	box-sizing: border-box;

	height: 100vw;
	width: 100vw;
	overflow: hidden;
}

h1 {
	font-size: 2.25rem;
	font-weight: bold;
	span {
		color: $gray;
		font-size: 0.75rem;
	}
}

.float {
	position: absolute;

	bottom: 1rem;
	// left: 1rem;
	right: 1rem;

	a {
		&:hover {
			color: $accent-color;
		}
		color: $gray;
		cursor: pointer;
	}
}

.wrapper {
	background-color: transparentize($wrapper-color, 0.1);
	display: grid;
	place-items: center;

	min-height: 400px;
	min-width: 345px;
	height: 70vh;
	width: 70vw;

	margin: 15vh auto;
	border-radius: 0.5rem;
	padding: 0.5rem;

	-webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
	-moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
	box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
}

.calculator {
	font-size: 1rem;
	font-weight: normal;

	padding: 1rem;

	.title {
		padding: 0;
		margin: 2rem auto;
		.sho{
			&:hover{
				color: $accent-color;
			}
		}
	}
	.item {
		margin: 0;
		padding: 0.2rem;
		color: $gray;
	}
}

#model,
#tokens {
	background-color: $wrapper-color;
	color: $white;

	border: 1px solid $gray;
	border-radius: 0.25rem;
}
#result {
	color: $white;
}

.special {
	color: $accent-color;
}

@media all and (max-width: 500px) {
	.wrapper {
		height: 100vh;
		width: 100vw;
		margin: 0;
	}
}
